@import "../../App.scss";
.footer {
	width: 100%;
	padding: 70px 0;
	background-color: var(--primary-main-color);
	color: #fff;
	.wrapper {
		max-width: $core-wrapper-width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include tablet{
			flex-direction: column;
		}
		.list {
			font-size: 22px;
			font-weight: 500;
			line-height: 26.82px;
			text-align: center;
			color: var(--primary-light-color);
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			a {
			  margin-top: 20px;
			}
			@include tablet{
				margin: 30px 0;
			}
		  }
	}

}
