@import url('../../App.scss');

.title {
	text-align: center;
}
.subtitle {
	text-align: center;
	max-width: 900px;
	margin: 26px auto;
	padding: 0 10px;
}
.wrapper {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 30px;
}
.prev {
    left: -25px;
}
.prev, .next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}
.next {
    right: -25px;
}
.button {
	border-radius: 8px;
	border: 2px solid var(--primary-main-color);
	color:var(--primary-light-color);
	cursor: pointer;
	width: 258px;
	height: 57px;
	font-size: 18px;
	font-weight: 500;
	// padding: 13px 30px;
	background-color: var(--primary-main-color);
    margin: 0 auto;
	&:hover {
		background-color: var(--primary-light-color);
		color:var(--primary-main-color);

	}
}