@import '../../../../App.scss';
// fill="#65DC80"
.profile {
	display: flex;
	justify-content: space-between;
	max-height: 48px;
	align-items: center;
	vertical-align: middle;
	gap: 14px;
}
.login, .basket {
	display: flex;
	align-items: center;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 24px;
	padding: 5px;
	border: 1px solid var(--main-color);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		border: 1px solid #FFFFFF;
	}
	.name {
		margin-left: 10px;
	}
}
.number {
	margin-left: 10px;
}
.img {
	width: 40px;
}