@import "../../App.scss";

/* header.module.scss */
.header {
  background-color: #fff;
  padding: 0px; /* Изменено значение паддинга */
  width: 100%;
  background-color: var(--primary-main-color);
  margin: 0;
  // transition: padding 0.3s ease; /* Анимация для изменения паддинга */
  .wrapper {
    background-color: white;
    max-width: $core-wrapper-width;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 22px;
    background-color: var(--primary-main-color);

    @include tablet {
      // position: static;
      flex-direction: column;
      border: 2px solid (--core-color);
    }
  }
  @include tablet {
    // position: static;
    flex-direction: column;
    border: 2px solid (--core-color);
  }
}
.content {
  height: 617px;
  background-image: url("../../content_images/main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 88px;
    .motto {
      font-size: 42px;
      font-weight: 500;
      line-height: 50.4px;
      text-transform: uppercase;
      color: var(--primary-main-color);
    }
    .title {
      font-family: Montserrat;
      font-size: 34px;
      font-weight: 600;
      line-height: 41.45px;
      color: var(--primary-light-color);
      text-transform: uppercase;
      position: relative;
      margin-top: 86px;
      display: inline;
      &::before,
      &:after {
        content: url("../../icons/neopalymi.svg"); /* Замініть 'URL_іконки' на шлях до вашої іконки */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        left: 150px;
      }
      &::after {
        right: 150px;
      }
    }
    .about {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      line-height: 29.26px;
      color: var(--primary-light-color);
      margin-top: 15px;
    }
  }
  .menu {
    background-color: rgba(4, 124, 200, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .navbar {
      font-size: 22px;
      font-weight: 500;
      line-height: 26.82px;
      text-align: center;
      color: var(--primary-light-color);
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      li {
        margin-top: 20px;

        a {
          text-decoration: none;
          color: var(--primary-light-color); // Колір тексту для посилань
          &:hover {
            color: var(--primary-hover-color); // Колір при наведенні
          }
        }
      }
    }
  }
}
.hidden {
  display: none; // За замовчуванням приховано на всіх екранах
  @media (max-width: 1024px) { // Показуємо елементи тільки на мобільних і планшетах до 1024px
    display: block;
  }
}

.show {
  display: block; // За замовчуванням відображається на великих екранах
  @media (max-width: 1024px) { // Приховуємо на планшетах і мобільних пристроях
    display: none;
  }
}


.empty {
  max-width: 350px;
  min-width: 52px;
}
// .scrolled {
//   padding: 5px 10px;
// }
