@import "../../App.scss";
.partners {
	padding: 60px 0;
	@include mobile {
		padding: 50px 20px;
	}
	.title {
		text-align: center;
	}
	.subtitle {
		text-align: center;
		max-width: 900px;
		margin: 26px auto;
		padding: 0 10px;
	}

	.conteiner {
		max-width: $core-wrapper-width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		gap: 140px;
		flex-wrap: wrap;
		@include mobile {
			gap: 20px;
		}
		.partner {
			// width: auto;
			// height: auto;
			max-width: 180px;
			// height: 100px;
			// margin-top: 35px;
			// object-fit: contain;
		}
	}
}
